<style>

a:link, a:visited, a:active {
  color: #999999;
}

#quote {
	font-style: italic;
  margin: 20px;
  font-size: 20px;
  height: 110px;
}

#author {
  margin: 20px;
  font-size: 20px;
  text-align: right;
	height: 20px;
}

.box1 {
  border: 42px solid #CCDD99;
  height: 228px;
  width: 400px;
  padding: 42px;
}


.box2 {
  width: 568px;
  height: 396px;
  border: 42px solid #CC8866;
  margin-top: 84px;
  margin-right: 84px;
  margin-left: 84px;
  outline-style: solid;
  outline-color: #000000;
  outline-width: 42px;
}

.box3 {
		width: 42px;
		height: 122px;
		background-color: #CC8866;
		border-right: 42px solid #000000;
		border-left: 42px solid #000000;
		margin: 0px 126px;
}



button, .twitter-share-button {
  margin: 0px;
  background-color: #ffffff;
  border: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  color: #999999;
}

.buttonArea {
	height: 18px;
	text-align: center;
}

#source {
	height: 16px;
	font-size: 8px;
	text-align: right;
}

button:hover, a:hover {
    text-decoration: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #000000;
}

</style>
