<style>

a:link, a:visited, a:active {
  color: black;
}

.quote {
  margin: 20px;
  font-size: 25px;
}

.author {
  margin: 20px;
  font-size: 25px;
  text-align: right;
}

.box1 {
  border: 42px solid #CCDD99;
  height: 228px;
  width: 400px;
  padding: 42px;
  outline-style: solid;
  outline-color: #CC8866;
  outline-width: 42px;
}

.box2 {
  width: 652px;
  height: 480px;
  border: 42px solid #00000;
  margin: 42px;
}

.box3 {
}


.sign {

}

button, .twitter-share-button {
  margin: 10px;
  background-color: #ffd700;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: "blue";
}

button:hover, a:hover {
    text-decoration: none;
    background-color: #efc700;
    cursor: pointer;
}

</style>
